<ion-view hide-nav-bar="true">

  <ion-content class="has-tabs-top  ">
    <div id="home_recommend" class="list stable-bg">
      <div ng-click="showDetail(1)" class="item border0" ng-class="{ 'active': show.recommendItemActive }">
        <div class="flag text-center assertive-bg light">
          <span class="ft-12">上量</span>
        </div>
        <div class="row padding0">
          <div class="item-thumbnail-left medicines-intro-left col-75">
            <img ng-src="./img/ionic.png">

            <h3 class="">普萘洛尔-心得安</h3>
            <span class="ft-12">江苏人民医院</span>

            <div>
            </div>
          </div>
          <div class="medicines-intro-right text-center col-25">
            <div class="wrap">
              <h2 class="assertive">￥3000</h2>
              <span class="ft-12">300盒/月</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row medicines-intro-bottom">
          <div class="col-75">
            <span class="col-33 ft-12">
              <i class="ion ion-plane assertive-bg light text-center"></i> 进口
            </span>
            <span class="col-33 ft-12">
              <i class="ion ion-university assertive-bg light text-center"></i>原研
            </span>
            <span class="col-33 ft-12">
              <i class="ion ion-medkit assertive-bg light text-center"></i>医保
            </span>
          </div>
          <div class="col-25">
            <span class="ft-12">发布：小明</span>
          </div>
        </div>
      </div>

      <div class="item border0">
        <div class="flag text-center assertive-bg light">
          <span class="ft-12">上量</span>
        </div>
        <div class="row padding0">
          <div class="item-thumbnail-left medicines-intro-left col-75">
            <img ng-src="./img/ionic.png">

            <h3 class="">普萘洛尔-心得安</h3>
            <span class="ft-12">江苏人民医院</span>

            <div>
            </div>
          </div>
          <div class="medicines-intro-right text-center col-25">
            <div class="wrap">
              <h2 class="assertive">￥3000</h2>
              <span class="ft-12">300盒/月</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row medicines-intro-bottom">
          <div class="col-75">
            <span class="col-33 ft-12">
              <i class="ion ion-plane assertive-bg light text-center"></i> 进口
            </span>
            <span class="col-33 ft-12">
              <i class="ion ion-university assertive-bg light text-center"></i>原研
            </span>
            <span class="col-33 ft-12">
              <i class="ion ion-medkit assertive-bg light text-center"></i>医保
            </span>
          </div>
          <div class="col-25">
            <span class="ft-12">发布：小明</span>
          </div>
        </div>
      </div>

      <div class="item border0">
        <div class="flag text-center assertive-bg light">
          <span class="ft-12">上量</span>
        </div>
        <div class="row padding0">
          <div class="item-thumbnail-left medicines-intro-left col-75">
            <img ng-src="./img/ionic.png">

            <h3 class="">普萘洛尔-心得安</h3>
            <span class="ft-12">江苏人民医院</span>

            <div>
            </div>
          </div>
          <div class="medicines-intro-right text-center col-25">
            <div class="wrap">
              <h2 class="assertive">￥3000</h2>
              <span class="ft-12">300盒/月</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row medicines-intro-bottom">
          <div class="col-75">
            <span class="col-33 ft-12">
              <i class="ion ion-plane assertive-bg light text-center"></i> 进口
            </span>
            <span class="col-33 ft-12">
              <i class="ion ion-university assertive-bg light text-center"></i>原研
            </span>
            <span class="col-33 ft-12">
              <i class="ion ion-medkit assertive-bg light text-center"></i>医保
            </span>
          </div>
          <div class="col-25">
            <span class="ft-12">发布：小明</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
