<ion-view hide-nav-bar="true">

  <ion-content class="has-tabs-top  ">
    <div id="home_hotman" class="list stable-bg">

      <div class="item item-image newHotman">
        <img ng-src="./img/hotman.jpg" >
        <p class="manInfo light" >最新红人</p>
      </div>
      <div class="item item-image row">
        <div class="man-item col-50">
          <img ng-src="./img/hotman-1.png" >
          <div class="manInfo light text-center" >
            <h4 class="light">Top 1</h4>
            <span class="ft-12">积分数：2398</span>
          </div>
        </div>

        <div class="man-item col-50">
          <img ng-src="./img/hotman-2.jpg" >
          <div class="manInfo light text-center" >
            <h4 class="light">Top 2</h4>
            <span class="ft-12">积分数：2198</span>
          </div>
        </div>
      </div>
      <div class="item item-image row">
        <div class="man-item col-50">
          <img ng-src="./img/hotman-1.png" >
          <div class="manInfo light text-center" >
            <h4 class="light">Top 3</h4>
            <span class="ft-12">积分数：1398</span>
          </div>
        </div>

        <div class="man-item col-50">
          <img ng-src="./img/hotman-2.jpg" >
          <div class="manInfo light text-center" >
            <h4 class="light">Top 4</h4>
            <span class="ft-12">积分数：238</span>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
