<ion-view view-title="任务详情" id="recommend-detail">
  <div class="bar bar-subheader padding0">
    <div class="row padding0">
      <h2 class="button button-assertive button-large col">响应</h2>
      <h2 class="button button-assertive button-large col">￥300</h2>
    </div>
  </div>
  <ion-content>
    <div class="list margin40-top">
      <div class="item">
        <!--<div class="row">-->
          <img ng-src="./img/temp.jpg" height="138" class="col" >
          <div class="">
            <span class="text-center stable-bg ft-12 padding5-0">进口</span>
            <span class="text-center stable-bg ft-12 padding5-0">原研</span>
            <span class="text-center stable-bg ft-12 padding5-0">医保</span>
          </div>
        <!--</div>-->
      </div>
      <div class="item">
        产品名称：胃药胶囊
      </div>
      <div class="item">
        产品规格：20 * 5g
      </div>
      <div class="item">
        零&nbsp;&nbsp;售&nbsp;&nbsp;价：胃药胶囊
      </div>
      <div class="item">
        发&nbsp;&nbsp;布&nbsp;&nbsp;者：胃药胶囊
      </div>
      <div class="item">
        任务医院：<p>江苏省人民医院</p><p>江苏省儿童医院</p>
      </div>
      <div class="item">
        任务科室：内科
      </div>
    </div>
    <div class="row button-bar">
      <button class="button button-assertive button-outline">分享</button>
      <button class="button button-assertive button-outline">收藏</button>
      <button class="button button-assertive button-outline">屏蔽</button>
    </div>
  </ion-content>
</ion-view>
