<ion-view view-title="正文">
  <ion-content id="dynamic-detail">
    <div class="assertive-bg padding light">
      <h2 class="light">中药注射剂集体销售下滑，传淘汰过半</h2>
      <p class="text-right">来自医药网 2015-08-21</p>
    </div>
    <div class="list">
      <div class="item item-text-wrap">
        <p class="dark padding-vertical">
          中国劳动人民几千年来在与疾病作斗争的过程中，通过实践，不断认识，逐渐积累了丰富的医药知识。由于太古时期文字未兴，这些知识只能依靠师承口授，后来有了文字，便逐渐记录下来，出现了医药书籍。这些书籍起到了总结前人经验并便于流传和推广的作用。中国医药学已有数千年的历史，是中国人民长期同疾病作斗争的极为丰富的经验总结，对于中华民族的繁荣昌盛有着巨大的贡献。由于药物中草类占大多数，所以记载药物的书籍便称为“本草”。据考证，秦汉之际，本草流行已较多，但可惜这些本草都已亡佚，无可查考。现知的最早本草著作称为《神农本草经》，著者不详，根据其中记载的地名，可能是东汉医家修订前人著作而成。
        </p>
        <p class="dark padding-vertical">神农本草经</p>
        <p class="dark padding-vertical">
          《神农本草经》全书共三卷，收载药物包括动、植、矿三类，共365种，每药项下载有性味、功能与主治，另有序例简要地记述了用药的基本理论，如有毒无毒、四气五味、配伍法度、服药方法及丸、散、膏、酒等剂型，可说是汉以前我国药物知识的总结，并为以后的药学发展奠定了基础。到了南北朝，梁代陶弘景（公元452～536年）将《神农本草经》整理补充，著成《本草经集注》一书，其中增加了汉魏以下名医所用药物365种，称为《名医别录》。[3]
          每药之下不但对原有的性味、功能与主治有所补充，并增加了产地、采集时间和加工方法等，大大丰富了《神农本草经》的内容。到了唐代，由于生产力的发展以及对外交通日益频繁，应形势需要，政府指派李绩等人主持增修陶氏所注本草经，称为“唐本草”后又命苏敬等重加修正，增药114种，于显庆四年（公元659年）颁行，称为《新修本草》或外国药物陆续输入，药物品种日见增加。为了适《唐新本草》，此书由当时的政府修订和颁行，所以可算是我国也是世界上最早的一部药典。这部本草载药844种，并附有药物图谱，开创了我国本草著作图文对照的先例，不但对我国药物学的发展有很大影响，而且不久即流传国外；对世界医药的发展作出了重要贡献。
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
