<ion-view view-title="订单详情">
  <ion-content id="order-detail" class="stable-bg">
    <div class="list">
      <div class="item">
        <span class="">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：已发布</span>
      </div>
      <div class="item">
        <span class="dark">产品名称：阿莫西林</span>
      </div>
      <div class="item">
        <span class="dark">发&nbsp;&nbsp;布&nbsp;&nbsp;者：阿莫</span>
      </div>
      <div class="item item-thumbnail-left">
        <img ng-src="./img/ionic.png">
        <div class="batch text-center">
          <span class="h3">上量</span>
          <h1 class="assertive">￥3000</h1>
        </div>
      </div>
      <div class="item">
        <p> 当前响应人数： 3 人 </p>
        <div class="row">
          <!--<a href="#/tab/manageOrder/all/0/allMan-modal" class="col-33">-->
            <img ng-click="openAllManModal()" ng-src="./img/hotman-1.png" height="80" class="col-33 padding" >
          <!--</a>-->
          <!--<a href="#/tab/manageOrder/all/responser" class="col-33">-->
            <img ng-click="openAllManModal()" ng-src="./img/hotman-2.jpg" height="80" class="col-33 padding" >
          <!--</a>-->
          <!--<a href="#/tab/manageOrder/all/responser" class="col-33">-->
            <img ng-click="openAllManModal()" ng-src="./img/hotman-1.png" height="80" class="col-33 padding" >
          <!--</a>-->
          <!--<img ng-src="./img/hotman-2.jpg" class="col-33 padding" height="80" >-->
          <!--<img ng-src="./img/hotman-1.png" class="col-33 padding" height="80" >-->
        </div>
      </div>
    </div>
    <!--<div class="margin20-top row text-center">
      <button class="button col-offset-10 col-80 button-energized">完成并通知甲方付款</button>
    </div>
    <div class="row text-center" style="margin-top: 10px">
      <button class="button col-offset-10 col-80 button-positive">取消订单</button>
    </div>-->
  </ion-content>
</ion-view>
<script id="allMan-modal.html" type="text/ng-template">

</script>
