<ion-view hide-nav-bar="true">
  <ion-content>
    <div id="my" class="list">

      <div class="item item-thumbnail-left assertive-bg">
        <img ng-src="./img/qq.png" class="thumbnail" >
        <h3 class="light">高圆圆</h3>
        <h3 class="light">超级明星</h3>
      </div>

      <a class="item" href="#">
        帐号信息
        <span class="item-note assertive">
          已实名认证
        </span>
      </a>

      <a class="item" href="#">
        从业信息
        <span class="item-note assertive">
          完成度88%
        </span>
      </a>
      <div class="item item-divider"></div>

      <a class="item" href="#/tab/manageOrder/all">
        订单管理
        <span class="badge badge-assertive">10</span>
      </a>

      <a class="item" href="#">
        积分管理
        <span class="item-note assertive">
          123分
        </span>
      </a>
      <div class="item item-divider"></div>

      <a class="item" href="#">
        系统设置
      </a>

      <a class="item" href="#">
        关于我们
      </a>
    </div>
  </ion-content>
</ion-view>
