<ion-view view-title="订单通知">
  <ion-content>
    <div class="card">
      <div class="item">
        <div class="row">
          <h2 class="col-75">普萘洛尔-心得安</h2>
          <h2 class="col-25 assertive">￥3000</h2>
        </div>
        <a class="button button-clear button-dark" href="#/tab/message-notice-detail">
          有人响应，点击查看
        </a>
      </div>
    </div>

    <div class="card">
      <div class="item">
        <div class="row">
          <h2 class="col-75">普萘洛尔-心得安</h2>
          <h2 class="col-25 assertive">￥3000</h2>
        </div>
        <span class="button button-clear button-dark" ng-click="lookOrderDetail()">
          有人响应，点击查看
        </span>
      </div>
    </div>

    <div class="card">
      <div class="item">
        <div class="row">
          <h2 class="col-75">普萘洛尔-心得安</h2>
          <h2 class="col-25 assertive">￥3000</h2>
        </div>
        <span class="button button-clear button-dark" ng-click="lookOrderDetail()">
          有人响应，点击查看
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
