<ion-view view-title="消息">
  <ion-content>
    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#/tab/message-chat">
        <i class="icon ion-chatbubble-working calm"></i>
        会话
        <span class="badge badge-calm">0</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker positive"></i>
        联系人
      </a>

      <a class="item item-icon-left" href="#/tab/message-notice">
        <i class="icon ion-ios-list balanced"></i>
        订单通知
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-speakerphone calm"></i>
        活动通知
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-email positive"></i>
        订阅消息
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-person balanced"></i>
        红人客服
      </a>
    </div>
  </ion-content>
</ion-view>
